@font-face {
  font-family: "DrukWideCyr";
  src: url("../fonts/DrukWideCyr-Bold.woff2") format("woff2"),
    url("../fonts/DrukWideCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CommissionerBold";
  src: url("../fonts/Commissioner/Commissioner-Bold.woff2") format("woff2"),
    url("../fonts/Commissioner/Commissioner-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CommissionerRegular";
  src: url("../fonts/Commissioner/Commissioner-Regular.woff2") format("woff2"),
    url("../fonts/Commissioner/Commissioner-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(236, 236, 236); // фон
}

.layout {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    background-color: white;
    border-radius: 10px;
    font-family: "DrukWideCyr";
    font-size: 14px;
    margin: 20px 20px;
    margin-bottom: 8px;
    width: 1880px;

    &__logo {
      margin-left: 0;
      margin-right: 64px;
    }

    &__wrapper,
    &__menu {
      margin-left: 20px;
      margin-top: 14px;
      margin-bottom: 14px;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: start;
    }

    &__menu {
      margin: 21px 0;
      margin-right: 20px;
    }

    &__menu-list {
      list-style-type: none;
      padding: 0;
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
    }

    &__menu-item {
      margin: 0 24px;

      &:last-child {
        margin-left: 24px;
      }
    }

    &__menu-link {
      text-decoration: none;
      color: black;
    }

    &__prof-bt {
      margin-left: 6px;
      background-color: rgb(236, 236, 236);
    }

    &__bt {
      background-color: white;
      display: flex;
    }
  }

  .logo {
    height: 52px;
    width: 99px;
    &__image {
      height: 52px;
      width: 99px;
      margin-top: 17px;
      margin-bottom: 11px;
    }
  }

  .bt {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-family: "DrukWideCyr";
    font-size: 14px;
    border-radius: 20px;
    border-width: 0;

    &__icon {
      height: 24px;
      width: 24px;
      margin: 0;
      display: flex;
      margin-top: 7px;
      margin-left: 16px;
    }

    &__text {
      display: block;
      margin: 9px 0;
      margin-left: 8px;
      margin-right: 16px;
    }

    &__user-name {
      margin: 9px 0;
      margin-left: 16px;
      margin-right: 10px;
    }
  }

  .prof-img {
    width: 32px;
    height: 32px;
    border-radius: 22px;
    border-width: 0;
    margin: 0 3px;
    margin-right: 3px;
  }

  .page {
    margin: 0 20px;
    &__section {
      width: 1880px;
      height: 830px;
      overflow: hidden;
      border-radius: 20px;
      margin-bottom: 120px;
    }

    &_learn {
      height: 1149px;
      overflow: hidden;
      border-radius: 20px;
    }

    .main-banner {
      width: 1880px;
      &__img-container {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 830px;
        overflow: hidden;
      }

      &__learn {
        background-color: #ffffff;
        height: auto;
      }

      .container {
        position: relative;
        font-family: "DrukWideCyr";
        font-size: 16px;
      }

      &__img-event {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        cursor: grab;
      }

      &__title-event {
        position: absolute;
        top: 506px;
        right: 558px;
        bottom: 132px;
        left: 35.5%;
        transform: translateX(-50%);
        font-size: 80px;
        font-weight: bold;
        color: white;
        font-family: "DrukWideCyr";
        width: 1302px;
        height: 192px;
        text-align: center;
        margin: 0;
        padding: 10px;
        z-index: 1;
        word-wrap: break-word;
        text-align: left;
      }

      &__nav {
        display: flex;
        position: absolute;
        bottom: 20px;
        margin: 0 20px;
        flex-direction: row;
      }

      &__nav-item {
        width: 608px;
        height: 64px;
        margin-right: 8px;
        background-color: white;
        color: black;
        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          background-color: #ee611c;
          color: white;
        }
      }
    }

    .event-play {
      display: flex;
      flex-direction: row;
      font-family: "DrukWideCyr";
      justify-content: space-between;
      margin: 0;
      height: 96px;
      width: 1887px;

      &--learn {
        margin-bottom: 64px;
        padding: 32px 0px 0px 32px;
      }

      &__title {
        font-size: 80px;
        width: 409px;
        height: 96px;
        margin: 0;
      }

      &__nav-link {
        font-size: 20px;

        margin: 0;
      }

      &__icon {
        margin-left: 12px;
        margin-right: 13px;
        margin-top: 2px;
        margin-bottom: 0;
      }
    }

    .team-section {
      width: 1880px;
      display: flex;
      flex-direction: row;
      margin: 0;
      margin-top: 64px;
      margin-bottom: 120px;

      &__event-search {
        margin-right: 9px;
      }

      &__event-create-command {
        margin-right: 7px;
      }
    }
  }
}

.event {
  width: 621px;
  height: 784px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 0;

  &:hover {
    background-color: #202020;

    * {
      color: white;
    }

    .nav-item__team-section {
      transform: translateY(20px);
      opacity: 1;
      position: relative;
    }

    .event__image-wrapper {
      margin-bottom: 40px;

      img {
        transform: translateY(-88px);
        transition: transform 0.5s;
      }
    }
  }

  &__image-wrapper {
    width: 621px;
    height: 520px;
    overflow: hidden;
    border-radius: 0 0 640px 640px;
    margin-bottom: 62px;
  }

  &__img {
    top: 0%;
    margin-left: 155px;

    margin-bottom: 62px;
  }

  &__img-serch-com {
    position: relative;
    left: 50%;
    transform: translate(0%, -75%);
  }

  &__img-tour {
    position: relative;
  }
}

.event-container {
  width: 573px;
  display: flex;
  flex-direction: column;

  margin: 0 24px;
  margin-bottom: 25px;

  &__title {
    width: 573px;
    font-size: 32px;
    font-family: "DrukWideCyr";
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    margin-bottom: 16px;
  }

  &__descript {
    width: 440px;
    font-size: 16px;
    font-family: "CommissionerRegular";
    margin: 0;
    font-weight: 500;
    line-height: 160%;
    color: black;
  }
}

.nav-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  font-family: "DrukWideCyr";
  font-size: 16px;
  background-color: #f36722;
  cursor: pointer;

  &__team-section {
    margin: 24px 24px;
    width: 573px;
    position: absolute;
    bottom: 20px;
    transform: translateY(100%);
    transition: transform 0.5s;
    opacity: 0;
  }

  &__nav-link {
    color: white;
  }
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 20px 24px;
  margin-right: auto;
}

.icon {
  margin: 20px 0;
  margin-left: auto;
  width: 24px;
  height: 24px;
  margin-right: 24px;

  &--artic {
    margin: 0;
    margin-left: 13px;
    opacity: 0;
  }
}

.chapter {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  color: #f36722;

  &--green {
    color: green;
    margin-right: 50px;
  }
}

.event__image-wrapper--border {
  border-radius: 0;
}

.main-learn {
  &__cont {
    display: grid;
    grid-template-columns: 2fr auto 1fr;
    margin: 24px;
    gap: 0px 16.5px;
  }

  &__banners {
    display: flex;
    flex-direction: column;
  }

  &__banner {
    display: flex;
    width: 1194px;

    &:first-child {
      margin-bottom: 20px;
    }

    &--img-learn {
      height: 611px;
      overflow: hidden;
      border-radius: 20px;
    }

    &--img-teacher {
      height: 294px;
      overflow: hidden;
      border-radius: 20px;

      background-color: #2e8d43;
      margin-bottom: 2px;
    }
  }

  &__banner-frame-content {
    width: 1194px;
    height: 611px;
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
    margin-right: auto;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    &--teachers {
      height: 254px;
      position: static;
    }
  }

  &__banner-title {
    width: 881px;
    height: 116px;
    line-height: 120%;
    font-size: 48px;
    word-wrap: break-word;
    font-family: "DrukWideCyr";
    color: white;

    &--learn {
      height: 174px;
      width: 753.45px;
      text-align: left;
      margin-bottom: 120px;
    }
  }

  &__banner-tags {
    margin-bottom: 48px;
  }

  &__right-section {
    display: flex;
    flex-direction: column;
  }
}

.tags {
  font-family: "DrukWideCyr";
  align-items: center;
  display: flex;
  font-weight: 700;



  &--teacher {
    width: 545px;
    flex-wrap: wrap;
  }

  &__tag {
    font-size: 14px;
    line-height: 140%;

  }
}

.tag {
  display: flex;
  flex-direction: row;
  border-radius: 38.64px;
  padding: 8px 12px 8px 12px;
  background-color: rgba(#ffffff, 0.2);
  color: #ffffff;
  margin-right: 4px;
  font-size: 12px;
  margin-top: 4px;

  &:last-child {
    color: #2e8d43;
    background-color: #ffffff;
    font-size: 12px;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 597px;
  justify-content: space-between;
  padding-bottom: 21px;
  border-bottom: 1px solid grey;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  height: 282px;
  &__descript {
    display: flex;

    &--video {
      flex-direction: row;
    }
  }

  &__interview {
    gap: 32px;
    margin-left: 20px;

    &--artic {
      margin-left: 0;
      width: 464px;
      margin-top: 20px;
    }
  }

  &__tag {
    color: #202020;
  }

  &__link {
    height: 26px;
    font-size: 20px;
    font-family: "DrukWideCyr";
    color: #202020;
    text-decoration: none;
  }
  &__nav {
    display: flex;
    flex-direction: row;

    &:hover {
      * {
        color: #2e8d43;
      }

      .icon--artic {
        opacity: 1;
        transition: opacity 1s;
      }
    }

    &--mar {
      margin-top: 20px;
    }
  }
}

.interview {
  display: flex;
  flex-direction: column;

  &:last-child {
    width: auto;
  }
  &__speech {
    text-decoration: none;
    font-family: "DrukWideCyr";
    font-size: 16px;
    color: #202020;
    line-height: 140%;

    &--art {
      width: 464px;
    }
  }
}

.tag-data {
  display: flex;
  flex-direction: row;
  border-radius: 38.64px;
  padding: 8px 12px 8px 12px;
  background-color: #efefef;
  color: black;
  margin-right: 4px;
  font-size: 12px;

  &--black {
    background: #202020;
    color: white;
  }
}

.vertical-line {
  width: 1%;
  height: 100%;
  border: 1px solid gray;
}

.footer {
  width: 1880px;
  height: 655px;
  background-image: url('../image/background/ball-bg.png');
  background-repeat: no-repeat;
  background-position: 1200px 150px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 1880px;
    height: 655px;
    margin-top: 36px;
    border-top: 1px solid black;
    margin: 0px 20px 36px 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
  }

  &__title {
    width: 1138px;
    height: 232px;
    font-size: 48px;
    font-family: "DrukWideCyr";
    line-height: 120%;
  }

  &__dev-block {
    font-size: 12px;
    line-height: 140%;
    font-family: "DrukWideCyr";
    margin-top: auto;

    .link {
      text-decoration: none;
      color: black;
    }
  }

  &__img-bg {
    position: absolute;
    left: 40%;
   
    
  }
}

.apps-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 355px;
  justify-content: space-between;
  margin-top: 32px;

  &__google-store {
    padding-top: 2.48px;
    padding-bottom: 2.92px;
  }
}

.apps-code {
  margin: 65px 269px 189px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 401px;
  width: 352px;
  background-color: #ffffff;
  border-radius: 29.79px;
  align-items: center;

  * {
    font-size: 14px;
    font-weight: 700;
    font-family: "DrukWideCyr";
  }

  &__image {
    width: 179.17px;
    height: 179.17px;
    margin: 44px 86px 36px 86px;
  }

  &__info-devices {
    display: block;
    margin-bottom: 11.92px;
    color: gray;
  }

  &__info {
    width: 263px;
    overflow-wrap: break-word;
    margin: 0px 44px 44px 44px;
    text-align: center;
    line-height: 140%;
  }
}

